//Var Global

$global-font-family : 'Open Sans', sans-serif;
$global-background-color: #C2C2D6;
$global-background-color-secondary: #000000;


//Var Utilites

$background-color-btn: #4D4D4D;
$background-color-btn-secondary: #666666;
$background-color-btn-third: #AC3939;
$background-color-btn-fourth: #004466;