@import "./scss/abstracts/variables", "./scss/abstracts/mixins", "./scss/abstracts/functions";


.App-Header {
  @include display_flex(column, center, center);
  background-color: $global-background-color-secondary;
  width: 80%;
  height: 60vh;
  margin: 0 auto;
  padding: .6rem;
  @extend .overflow-clip;

  .App-Main {
    display: grid;
    grid-template-rows: .6fr 2fr 2fr;
    width: 100%;
    height: 100%;

    .App-header {
      width: 100%;
      background-color: $global-background-color-secondary;
      @extend .overflow-clip;
    }

    .App-content {
      width: 100%;
    }
    
    .App-content-primary {
      display: grid;
      grid-template-areas: "ac ac divider multiplicator" ;
      grid-gap: .1rem;
      padding-top: .5rem;

      .ac {
        grid-area: ac;
      }

      .divider {
        grid-area: divider;
      }

      .multiplicator {
        grid-area: multiplicator;
      }
    }

    .App-content-secondary {
      display: grid;
      grid-template-areas: "one two three same" "zero zero number same";
      grid-gap: .1rem;

      .same {
        grid-area: same;
      }

      .number {
        grid-area: number;
      }

      .zero {
        grid-area: zero;
      }
    }
    

  }
  
}

@media screen and (min-width: 900px) {
  .App-Header {
    width: 25%;
    height: 60vh;
    margin: 0 auto;
    padding: .6rem;

    .App-Main {
      height: 100%;

      .App-header {
        background-color: $global-background-color;
      }
    }
  }  
}
